@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.resume {
    z-index: 2;
    position: fixed;
    margin-top: 5rem;
}

.download-link {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: bold;
    color: lightblue;
}

@media only screen and (max-width: 37.5rem) {
    .resume {
        left: 0;
        overflow: scroll;
    }
}