@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.top-nav{
    top: 0;
    position: absolute;
    cursor: default;
    background-color: #f2f2f2;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    border-bottom: .2rem solid lightblue;
}

.right-nav {
    height: 100%;
    float: right;
    color: #333;
    text-align: center;
    padding: .0875rem 1rem;
    text-decoration: none;
    font-size: 1.0625rem;
    font-family: 'Playfair Display';
}

.right-nav:hover {
    background-color: #ddd;
    color: black;
}

.left-nav {
    float: left;
    color: #333;
    text-align: left;
    padding: .0875rem 1rem;
    text-decoration: none;
    font-size: 1.0625rem;
    font-family: 'Pacifico', 'Times New Roman', Times, serif;
}